@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00396B;
  --color-secondary: #007BFF;
  --color-tertiary: #00BFFF;
  --color-quaternary: #00FFFF;
  --color-quinary: #00FF00;
  --color-senary: #00FF00;
  --color-septenary: #00FF00;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Prevenir scroll horizontal */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Asegurar que el contenido no cause scroll horizontal */
* {
  box-sizing: border-box;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
